.pills ul{
    display: flex;
    flex-direction: row;
   
   }
   
   .pills ul li{
       background-color: #460505;
       color: white;
       padding: 5px 15px;
       margin: 0 10px;
       border-radius: 20px;
       text-transform: uppercase;
   }
   
   .pills ul li:first-child{
       margin-left: 0;
   }
   
   .s-wrapper .s-main-content__top .s-description {
       background-color: rgba(0, 0, 0, .7);
       max-width: 50%;
       padding: 30px;
       border-radius: 20px;
   }
   
   .s-wrapper .s-main-content__top .s-description .s-description__text p{
    color: white;
    line-height: 170%;
   
   }
   .s-wrapper .s-main-content__top .s-description .pills{
       margin-bottom: 20px;
   }
   
   
   